streamlit

langchain
langgraph

langchain-groq
langchain-community
langchain-google-community

langchain-chroma
chromadb

langchain-text-splitters
langchain-experimental
langchain-core
langchain-huggingface

langgraph-checkpoint
langgraph-checkpoint-sqlite

duckduckgo-search
ddgs

wikipedia
sentence-transformers

pypdf
python-dotenv

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

pandas
tabulate
fpdf2

requests
pydantic
